@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/*cores*/
:root {
    --laranja: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --cyan-escuro: hsl(179, 100%, 13%);
    --branco: hsla(0, 0%, 100%, 0.75);
    --cinza-claro: hsl(0, 0%, 95%);
  
    --cinza: #999;
    --cinza-escuro: #555;
    --preto: #000;
  }

  /*tamanho da caixa*/
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
      font-family: "Lexend Deca", sans-serif;
      background-color: var(--cinza-claro);
      font-size: 15px;
      overflow: hidden;
      display: flex;
      height: 100vh;
      overflow: auto;
      color: var(--branco);
  }

  /*estilo dos cards*/

  main{
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      width:100%;
      flex-wrap: wrap;
  }

  article{
      max-width: 278px;
      height: 450px;
      padding: 42px;
      position:relative;

  }

  article.sedan {
    background-color: var(--laranja);
    border-radius: 7px 0 0 7px;
  }
  
  article.suv {
    background-color: var(--cyan);
  }
  
  article.luxury {
    background-color: var(--cyan-escuro);
    border-radius: 0 7px 7px 0;
  }
  
  img {
    margin-bottom: 36px;
  }
  
  h1 {
    color: var(--cinza-claro);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  article p {
    color: var(--branco);
    font-size: 13.8px;
    line-height: 1.5rem;
  }
button{

}
.sedan button{

}
.suv button{

}
.luxury button{

}
button:hover{

}
button:active{

}
/*rodape*/

/*mobile*/
