@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/*cores*/
:root {
    --laranja: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --cyan-escuro: hsl(179, 100%, 13%);
    --branco: hsla(0, 0%, 100%, 0.75);
    --cinza-claro: hsl(0, 0%, 95%);
  
    --cinza: #999;
    --cinza-escuro: #555;
    --preto: #000;
  }

  /*tamanho da caixa*/
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
      font-family: "Lexend Deca", sans-serif;
      background-color: var(--cinza-claro);
      font-size: 15px;
      overflow: hidden;
      display: flex;
      height: 100vh;
      overflow: auto;
      color: var(--branco);
  }

  /*estilo dos cards*/

  main{
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      width:100%;
      flex-wrap: wrap;
  }

  article{
      max-width: 278px;
      height: 450px;
      padding: 42px;
      position:relative;

  }

  article.sedan {
    background-color: var(--laranja);
    border-radius: 7px 0 0 7px;
  }
  
  article.suv {
    background-color: var(--cyan);
  }
  
  article.luxury {
    background-color: var(--cyan-escuro);
    border-radius: 0 7px 7px 0;
  }
  
  img {
    margin-bottom: 36px;
  }
  
  h1 {
    color: var(--cinza-claro);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  article p {
    color: var(--branco);
    font-size: 13.8px;
    line-height: 1.5rem;
  }
button{
  positon:absolute;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 14px;
  width:146px;
  outline: none;
  border: 2px solid var(--cinza-claro);
  font-family: inherit;
  transition: all 0.2s ease-in-out;
  bottom: 42px;
}
.sedan button{
  background: var(--cinza-claro);
  color: var(--laranja);
}
.suv button{
  background-color: var(--cinza-claro);
  color: var(--cyan);
}
.luxury button{
  background-color: var(--cinza-escuro);
  color: var(--cinza-escuro);
}
button:hover{
  background-color: transparent;
  color: var(--cinza-escuro);
}
button:active{
  transform: scale(0.9);
}
/*rodape*/
.rodape{
  width: 100%;
  margin: 0 auto;
  position:absolute;
  color: var(--cinza);
  bottom: 10px;
  font-size: 0.75rem;
  line-height: 20px;
  text-align: center;
}
.rodape a{
  text-decoration: none;
  color:var(--cinza-escuro);
}
/*mobile*/
@media only screen and (max-width:844px){
  body{
    display: flex;
    width:100%;
    overflow:scroll;
    flex-wrap:wrap;
  }
  main{
    padding: 50px 0;
    flex-direction: column;
  }
  article.sedan{
    border-radius: 7px 7px 0 0;
  }
  article.luxury{
    border-radius: 0 0 7px 7px;
  }
  article p{
    font-size: 0.77rem;
  }
  .rodape{
    position:relative;
    width:auto;
    padding-bottom: 10px;
  }
}